body{
  min-width: 1150px;
}
  /*第一部分*/
  .content{
    position: relative;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: 100px;
  }
  .adv{
    width: 35px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    background: rgb(71, 71, 74);
    color: rgb(197, 197, 198);
    position: absolute;
    top: 120px;
    right: 5%;
  }
  .content1{
    width: 50%;
    margin: 0 auto;
    position: relative;
  }
  .c1{
    color: rgb(181, 159, 123);
    font-size: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 80px;
    left: 48%;
  }
  .c2{
    color: rgb(82, 82, 82);
    font-size: 40px;
    letter-spacing: 1px;
    position: absolute;
    top: 140px;
    left: 36%;
  }
  .c3{
    color: rgb(138, 138, 138);
    font-size: 16px;
    width: 100%;
    position: absolute;
    top: 200px;
    left: 10%;
  }
  .photo{
    margin-top: 300px;
  }
  .photo img{
    width: 100%;
    height: 50%;
  }
  /*第二部分左边*/
  .number{
    height: 320px;
    background: rgb(238, 238, 238);
    padding: 100px;
  }
  .number1{
    width: 80%;
    margin: 0 auto;
  }
  /*左中右部分的内容*/
  .Nleft{
    width: 30%;
    /*height: 170px;*/
    float: left;
    background: rgb(238, 238, 238);
  }
  .Nlefttop{
    width:100%;
    height: 170px;
    background: white;
    text-align: center;
    position: relative;
  }
    /*字体加粗不响应 */
  /*.N1{
    font-weight:bolder;
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(82, 82, 82);
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
  }
  */
  h1{
    width: 100%;
    font-size: 40px;
    position: absolute;
    font-weight: 400;
    top: 40px;
    left: 0;
  }
  .N2{
    font-size: 12px;
    color: rgb(197, 159, 119);
    letter-spacing: 1px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
  }
  .N3{
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(82, 82, 82);
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
  }
  .Nmiddle{
    width: 30%;
    /*height: 170px;*/
    float: left;
    margin-left: 5%;
    background: rgb(238, 238, 238);
  }
  .Nright{
    width: 30%;
    /*height: 170px;*/
    float: right;
    background: rgb(238, 238, 238);
  }
  .Nleftbottom{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: rgb(112, 112, 112);
  }
  /*第三部分*/
  .background{
    width: 12%;
    margin: 0 auto;
    text-align: center;
  }
  .b1{
    padding-top: 100px;
   font-size: 12px;
   letter-spacing: 2px;
   color: rgb(197, 159, 119);

 }
 .b2{
   font-size: 24px;
   letter-spacing: 1px;
   color: rgb(82, 82, 82);
   padding-top: 15px;
   padding-bottom: 30px;
   border-bottom: 1px solid rgb(221, 221, 221);
 }
 /*第四部分*/
 .word{
   width: 50%;
   margin: 0 auto;
   padding-bottom: 100px;
   color: rgb(112, 112, 112);
   text-align: left;
   font-size: 18px;
   line-height: 26px;
   letter-spacing: 1px;
 }
 .w1{
   margin-top: 20px;
 }
 .w2{
   margin-top: 20px;
 }
 .w3{
   margin-top: 20px;
 }
 /*第五部分*/
 .coffee{
   width: 100%;

 }
 .coffee::after{
   content: "";
   display: block;
   clear: both;
 }
 .coffeeLeft{
   width: 70%;
   height: 400px;
   height: 500px;
   background: rgb(41, 41, 41);
   float: left;
   position: relative;
 }
 .coffeeLeft1{
   font-size: 40px;
   line-height: 60px;
   letter-spacing: 2px;
   font-style: italic;
   color: rgb(181, 159, 123);
   position: absolute;
   top:200px;
   left: 8%;
   width: 78%;
 }
 .coffeeRight{
   width: 30%;
   float: right;
 }
 .coffeeRight img{
   width: 100%;
   height: 500px;
 }
 /*第六部分*/
 .heart{
   width: 70%;
   margin: 0 auto;
   padding-top: 100px;
 }
 .heart1{
   width: 60%;
   margin: 0 auto;
   color: rgb(82, 82, 82);
   font-size: 24px;
   letter-spacing: 1px;
 }
 .heart2{
   width: 80%;
   margin: 0 auto;
   margin-top: 50px;
   color: rgb(112, 112, 112);
   font-size: 18px;
   letter-spacing: 1px;
   line-height: 26px;
   padding-bottom: 50px;
 }
 /*第七部分*/
 .center{
   width: 80%;
   margin: 0 auto;
 }
 .center::after{
   content: "";
   display: block;
   clear: both;
 }
 .centerLeft{
   width: 50%;
   float: left;
 }
 .centerLeft img{
   width: 100%;
   height: 100%;
 }
 .centerRight{
   float: right;
   width: 50%;
   position: relative;
 }
 .centerRight1{
   width: 30%;
   font-size: 14px;
   letter-spacing: 1px;
   color: rgb(163, 163, 163);
   border-top: 1px solid rgb(221, 221, 221);
   padding-top: 20px;
   position: absolute;
   top: 120px;
   left: 5%;
 }
 /*第八部分*/
 .meanwhile{
   text-align: left;
   width: 54%;
   margin: 0 auto;
   margin-top: 50px;
   color: rgb(116, 116, 116);
   font-size: 16px;
   line-height: 26px;
 }
 .m1{
    margin-bottom: 30px;
 }
 .m2{
   width: 35%;
   margin: 0 auto;
   color: rgb(82, 82, 82);
   font-size: 30px;
   margin-bottom: 60px;
 }
 .m3{
   margin-bottom: 30px;
 }
 .m4{
   margin-bottom: 100px;
 }
 /* 网页底部*/
 footer{
   width: 100%;
   height: 130px;
   background: rgb(41, 41, 41);
   position: relative;
 }
 footer::after{
   content: "";
   display: block;
   clear: both;
 }
 .left{
   position: absolute;
   top: 20%;
   left: 15%;
   font-size: 10px;
   color: rgb(163, 163, 163);
   float: left;
 }
 ul li{
   margin: 4px;
   list-style: none;
 }
 .right{
   position: absolute;
   top: 20%;
   right: 10%;
   float: right;
 }
 .right img{
   margin: 20px 10px;
 }
